deployment/

*.mpr.bak
*.mpr.lock
*.launch

.svn
.mendix-cache
/theme_old
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/tbncommon.mpr.bak
/tbncommon.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
